# This CI workflow can be triggered by PR creation or code push in PR, or manually using workflow dispatch.

name: CI workflow for building, testing microservice, and publishing image to ECR

on:
  push:
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run the workflow against'
        type: environment
        default: 'dev'

env:
  JFROG_URL: jfrog.dtduc.com
  GOLANG_REPOSITORY: golang-artifactory
  GOLANG_IMAGE: testing
  GOLANG_TAG: 0.1.0

jobs:
  unit-test:
    permissions:
      id-token: write # need this for OIDC
      contents: read
    uses: dtduc-git/github-workflows-modules/.github/workflows/unit_test.yml@master
    secrets: inherit

  gitleak:
    permissions:
      id-token: write # need this for OIDC
      contents: read
    uses: dtduc-git/github-workflows-modules/.github/workflows/gitleak.yml@master
    secrets: inherit

  # harden-runner:
  #   permissions:
  #     id-token: write # need this for OIDC
  #     contents: read
  #   uses: dtduc-git/github-workflows-modules/.github/workflows/harden-runner.yml@master
  #   secrets: inherit

  build-and-test:
    needs: [unit-test]
    # needs: [harden-runner]
    permissions:
      id-token: write # need this for OIDC
      contents: read
    uses: dtduc-git/github-workflows-modules/.github/workflows/golang.yml@master
    with:
      env: ${{ github.event.inputs.environment }}
      JFROG_URL: jfrog.dtduc.com
      GOLANG_REPOSITORY: golang-artifactory
      GOLANG_IMAGE: testing
      GOLANG_TAG: 0.1.0
    secrets: inherit
