# This CI workflow can be triggered by PR creation or code push in PR, or manually using workflow dispatch.

name: CI workflow for building, testing microservice, and publishing image to ECR

on:
  push:
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run the workflow against'
        type: environment
        default: 'dev'

jobs:
  test:
    steps:
      # - name: Decode base64 secrets
      #   uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28
      #   env:
      #     JFROG_URL: ${{ secrets.JFROG_URL }}
      #     GOLANG_REPOSITORY: ${{ secrets.GOLANG_REPOSITORY }}
      #     GOLANG_IMAGE: ${{ secrets.GOLANG_IMAGE }}
      #     GOLANG_TAG: ${{ secrets.GOLANG_TAG }}
      #   run: |
      #     echo $JFROG_URL | base64 -d > lib/path/to/secrets.dart
      #     echo $GOLANG_REPOSITORY | base64 -d > lib/path/to/secrets.dart
      #     echo $GOLANG_IMAGE | base64 -d > lib/path/to/secrets.dart
      #     echo $GOLANG_TAG | base64 -d > lib/path/to/secrets.dart

      - name: Set environment variables
        shell: bash
        env:
          JFROG_URL: ${{ secrets.JFROG_URL }}
        run: |
          echo $JFROG_URL | base64 -d

  unit-test:
    permissions:
      id-token: write # need this for OIDC
      contents: read
    uses: dtduc-git/github-workflows-modules/.github/workflows/unit_test.yml@master
    secrets: inherit

  gitleak:
    permissions:
      id-token: write # need this for OIDC
      contents: read
    uses: dtduc-git/github-workflows-modules/.github/workflows/gitleak.yml@master
    secrets: inherit

  harden-runner:
    permissions:
      id-token: write # need this for OIDC
      contents: read
    uses: dtduc-git/github-workflows-modules/.github/workflows/harden-runner.yml@master
    secrets: inherit

  build-and-test:
    # needs: [unit-test, gitleak, harden-runner]
    needs: [harden-runner]
    permissions:
      id-token: write # need this for OIDC
      contents: read
    uses: dtduc-git/github-workflows-modules/.github/workflows/golang.yml@master
    with:
      env: ${{ github.event.inputs.environment }}
    secrets: inherit
